.LandingPage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2ch;
    padding-top: 10ch;
    width: 100%;
    .HeroImageContainer {
        height: 87vh;
        background-image: url('../../Images/self.jpg');
        background-position: -300px;
        mask-image: url('../../Images/Asset 1.svg');
        mask-repeat: no-repeat;
        animation: smallMovement 60s linear infinite both;
    }
    .SloganContainer{
        display: flex;
        align-items: center;
        justify-items: center;
        h1{
            color: #89C9BB;
            font-family: Montserrat;
            font-size: 5vw;
            margin-left: 2ch;
        }
    }
}

@keyframes smallMovement {
    0% {
        background-position: -100px 5px;
    }
    50% {
        background-position: -500px -50px;
    }
    100% {
        background-position: -100px 5px;
    }
}